<div class="top-banner">
  <div class="top-banner-heading-container">
    <a href="/">
      <h1 class="top-banner-heading">
        fcole90
      </h1>
    </a>
  </div>

  <!-- GitHub social -->
  <div class="top-banner-social top-banner-social-github">
    <a href="https://github.com/fcole90" target="_blank">
      <img src="/assets/images/third_party/github/GitHub-Mark-Light-120px-plus.png"
           alt="GitHub logo"
           class="top-banner-social-img top-banner-social-img-github">
    </a>
  </div>
  <!-- LinkedIn social -->
  <div class="top-banner-social top-banner-social-linkedin">
    <a href="https://www.linkedin.com/in/fcole90" target="_blank">
      <img src="/assets/images/third_party/linkedin/LinkedIn-Logos/LI-In-Bug.png"
           alt="LinkedIn logo"
           class="top-banner-social-img top-banner-social-img-linkedin">
    </a>
  </div>
  <!-- Twitter social -->
  <div class="top-banner-social top-banner-social-twitter">
    <a href="https://twitter.com/fcole90" target="_blank">
      <img src="/assets/images/third_party/twitter/Twitter_Logo_Blue/Twitter_Logo_Blue.png"
           alt="Twitter logo"
           class="top-banner-social-img top-banner-social-img-twitter">
    </a>
  </div>
</div>