.author-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-link {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.author-link:hover {
  text-decoration: none;
}

.author-image {
  margin-left: auto;
  margin-right: auto;
}

.author-name {
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0;
}

.author-more {
  padding-top: 0.1rem;
  font-weight: 300;
  font-size: 0.8rem;
  text-align: center;
  color: var(--main-text-color-muted);
}