<!DOCTYPE html>
<html lang="en">
<head>
  <!-- IP-è deselex GDPR-compliant traffic monitoring with Google Analytics  -->
  <!-- See more: https://developers.google.com/analytics/devguides/collection/gtagjs/ip-anonymization  -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169195653-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-169195653-2', { 'anonymize_ip': true });
  </script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <title>{{ page.title }}</title>
</head>
<body>
<main>
  {% include top-banner.html %}
  {% include main-nav-container.html %}
  <div class="content">
    {{ content }}
  </div>
</main>
{% include footer.html %}
</body>
</html>