---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<h2 class="post-subtitle">This is a mock post subtitle</h2>

<!--<div class="post-share-buttons-container">-->
<!--  in, Fb, Tw, Link, Share Mobile button-->
<!--</div>-->

<!--<div class="post-authors-container">-->
<!--  List authors: Pic + {{ page.author }}-->
<!--</div>-->

<p class="post-data">{{ page.date | date_to_string }}</p>

<div class="post-main-figure-container">
    <figure class="post-main-figure">
        <img class="post-main-image project-main-image" src="{{ page.image }}" alt="{{ page.image-alt-text }}">
        <figcaption class="post-main-figure-caption">
            {{ page.image-alt-text }}
        </figcaption>
    </figure>
</div>

<div class="post-content">
  {{ content }}
</div>
